@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

a {
    display: block;
    padding: 20px;
    background-color:rgba(255, 0, 0, 0.63);
    color: white;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    background-color:red;
}

div {
    height: 390px;
}

div img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div h1 {
    text-align: center;
    color: aliceblue;
    margin-top: 30px;
}
